# Crashes to JSON

Use `Data Query Tool` to create a new export from UCONN Crashes (Town=Hartford, last five years): https://www.ctcrash.uconn.edu/QueryTool2.action

* Since the tool does not let you export large datasets (over 90,000 persons), export multiple times for different time periods and specify all export IDs in the `exports` list below.

This notebook combines data from two tables (0 and 2) into a small JSON file and a CSV file (same content, different formats), which is an array of objects that look like this:
```js
{
    "id": 770826,    // crash id (used to pull the diagram)
    "x": 41.73936,   // latitude
    "y": -72.66404,  // longitude
    "d": 1593820800, // timestamp
    "p": 0,          // involves a pedestrian? (1=true, 0=false)
    "c": 0,          // involves a cyclist? (1=true, 0=false)
    "r": 1,          // route class (1=Interstate, 2=USRoute, 3=State, 4=Local)
    "s": 0,          // crash severity (O=no injuries, A=any injury, K=fatal)
}
```

Note: the timestamp `d` needs to be multiplied by `100,000` for a proper JS timestamp.

In [13]:
import pandas as pd

In [14]:
exports = ['110711']

### Import roles from table 2

In [15]:
roles_dfs = []

for export in exports:
    df = pd.read_csv(
        f'export_{export}/export_{export}_2.csv',
        skiprows=1,
        usecols=['CrashId', 'Person Type Text Format']
    )
    roles_dfs.append( df )

roles = pd.concat(roles_dfs).groupby(['CrashId'])['Person Type Text Format'].unique()

### Import crashes from table 0

In [16]:
crashes_dfs = []

for export in exports:
    df = pd.read_csv(
        f'export_{export}/export_{export}_0.csv',
        skiprows=1,
        usecols=['CrashId', 'Latitude', 'Longitude', 'Date Of Crash',
                 'Time of Crash', 'Crash Severity', 'Route Class']
    )
    crashes_dfs.append( df )
    
crashes = pd.concat(crashes_dfs)

### Merge data and save to .json and .csv

In [17]:
crashes.head()

,CrashId,Latitude,Longitude,Date Of Crash,Time of Crash,Crash Severity,Route Class
0,129826,41.318712,-72.902765,2014-12-11,20:47:00,K,0
1,137721,41.389161,-72.855222,2015-03-11,07:02:00,K,3
2,179590,41.277317,-72.861189,2015-02-22,04:04:00,K,2
3,180104,41.320694,-72.866405,2015-06-27,21:42:00,K,3
4,203545,41.300738,-72.940903,2016-05-19,23:30:00,K,4

test = crashes.copy().rename(columns={'Date Of Crash': 'date'})

test['mo'] = test.date.apply(lambda x: x[5:7])
test['year'] = test.date.apply(lambda x: x[:4])

test.head()

test[ (test.date >= '2019-01-01') & (test.date <= '2019-12-31') & (test['Route Class'] >= 0 )].groupby(['Crash Severity']).count()

In [18]:
# Rename columns to make JSON output smaller
crashes.columns = ['id', 'x', 'y', 'd', 't', 's', 'r']

# Transform timestamps
crashes.d = crashes.d.apply(lambda x: int(pd.to_datetime(x).timestamp() / 100))
crashes.t = crashes.t.apply(lambda x: x[:-3])

# Set up pedestrian and cyclist flags
crashes['p'] = crashes.id.apply(lambda x: 1 if x in roles and 'Pedestrian' in roles[x] else 0)
crashes['c'] = crashes.id.apply(lambda x: 1 if x in roles and 'Bicyclist' in roles[x] else 0)

In [19]:
# Save as JSON
crashes.to_json('./crashes.json', orient='records', double_precision=5)

# Save as CSV
crashes.to_csv('crashes.csv', index=False)